# CPython build configuration
[cpython]
# CPython version to build.
version = "v3.14.3"

# Whether to apply patches from patches/ directory to source code.
apply_patches = true

# Target Android architectures to build for.
build_hosts = [
  "aarch64-linux-android",
  "x86_64-linux-android",
  #  "arm-linux-androideabi",
  #  "i686-linux-android",
]

# Additional configure script arguments.
configure_args = ["--disable-test-modules", "--with-lto"]

# Environment variables for configure script.
# NOTE: Some variables might be overridden by the android.py build script.
# Run `./android.py env HOST` to see which variables will be overridden.
[cpython.configure_env]


# Magisk module configuration.
# This section defines how the CPython build will be modified and packaged as a Magisk module.
[module]
# Template for the packaged module name.
# All keys from module.prop are supported.
name = "${id}-${version}.zip"

# Additional files and directories to include in module distribution.
include = ["LICENSE", "README.md", "CHANGELOG.md"]

# Whether to remove unnecessary files from builds.
debloat = true

# Files and directories to remove from builds.
# Patterns support extended syntax for filtering by type:
# { pattern = "some/dir/**", rm_if = ["file", "symlink"] }
# This will match only files and symlinks, skipping directories.
# Supported types: "file", "dir", "symlink".
#
# Patterns are applied relative to the prefix/ directory and support `wcmatch` glob features
# like GLOBSTARLONG, NEGATE, EXTGLOB, and BRACE.
# See https://facelessuser.github.io/wcmatch/glob for more details.
debloat_patterns = [
  "man",                                       # Documentation files.
  "share",                                     # Shared resources.
  "include",                                   # C/C++ header files and development resources.
  "lib/pkgconfig",                             # pkg-config files.
  "bin/!(py*)",                                # Non-Python binaries.
  "lib/*.{a,la}",                              # Static libraries and libtool files.
  "lib/python3.*/{idlelib*,tkinter*,turtle*}", # Graphical libraries.
  "lib/python3.*/**/__pycache__",              # Compiled bytecode caches.

  # Libraries not required for Python runtime.
  { pattern = "lib/!(*python*.so*)", rm_if = [
    "file",
    "symlink",
  ] },
]

# Apply `llvm-strip` to all executables in prefix/bin/ and libraries in prefix/lib/.
# Removes debug symbols more thoroughly than configure flags (configure_args/configure_env),
# including those in prebuilt dependencies from https://github.com/beeware/cpython-android-source-deps.
strip = true

# Arguments passed to `llvm-strip`.
strip_args = ["--strip-all"]

# Replace shebangs in scripts with Android-compatible paths.
fix_shebangs = true
